[*.cs]

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = silent

[DynamicJson.cs]

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = silent
